// index.html.haml対応
.header {
  border-bottom: 1px solid gray;
  background-color: gray;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
  .header__bar.row {
    position: relative;
    h1.grid-6 {
      font-size: 20px;
      line-height: 41px;
      float: left;
      a {
        display: block;
        text-decoration: none;
        font-family: cursive;
        font-size: 30px;
      }
    }
    div.grid-6 {
      float: right;
      text-align: right;
      margin-right: 20px;
      a.post {
        width: 120px;
        display: inline-left;
        margin-left: 10px;
        text-decoration: none;
        border-radius: 1px;
      }
    }
  }
}

.user_nav {
  position: relative;
  height: 50px;
  right: 0;
  span {
    top: 5px;
    display: block;
    float: left;
    margin-left: 30px;
    width: 150px;
    height: 50px;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    &:after {
      content: '▼';
      font-size: .7em;
      margin-left: -4px;
      }
      &:hover ul {
        color: blue;
        display: block;
      }
    }
    ul {
      display: none;
      position: absolute;
      top: 46px;
      right: 0;
      border-left: 1px solid #d8d8d8;
      border-right: 1px solid #d8d8d8;
      box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
      li {
        background-color: #f0f0f0;
        a {
          display: block;
          padding: 10px 20px;
          text-align: left;
          border-bottom: 1px solid #d8d8d8;
          text-decoration: none;
        }
      }
     }
}

.contents {
  // padding-top: 10px;
  // padding-bottom: 1px;
  background-color:cornsilk;
  width: 100%;
  margin: auto;
  .content_post{
    height:400px;
    width:600px;
    display: block;
    margin:0 auto;
    background-size: cover;
    position: relative;
    margin-top: 30px;
  }
}

.contents2 {
  overflow: hidden;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  opacity: 0.9;
}
.nav {
  width: 150px;
  margin: 0;
  padding: 0;
}
.nav li {
  position: relative;
  width: 150px;
  height: 40px;
}
.nav > li {
  border-bottom: none;
}
.nav li:last-child {
  border-bottom: none;
}
.nav li:hover > ul > li {
  border-bottom: none;
}
.nav li > ul > li:last-child {
  border-bottom: none;
}
.nav li a {
  display: block;
  width: 150px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  line-height: 2.8;
  padding: 0 5px;
  background: #9fb7d4;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  text-decoration: none;
}
.nav > li:hover > a {/*layer-1*/
  color: orange;
  background: #afc6e2;
}
.nav > li li:hover > a {/*layer-2*/
  color: olive;
  background: #afc6e2;
}
.nav li:hover > ul > li {
  overflow: visible;
  top: -40px;
  left: 110px;
  height: 40px;
}
.nav li ul li {
  overflow: hidden;
  height: 0;
  left: 110px;
  list-style: none;
}
.nav li ul li a {
  background: #9fb7d4;
}
.nav li ul:before {
  position: absolute;
  content: "";
  top: 14px;
  left: 140px;
  border: 5px solid transparent;
  border-left: 5px solid #fff;
}
.nav li:hover ul li ul li:hover > a {/*layer-3*/
  color: pink;
  background: #afc6e2;
}
.content {
  width: 600px;
  height: 250px;
  background: #eee;
  margin: 0;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}

.info{
  color: blue;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  .span.name{
    color: black;
  }
}
.info p{
  color: black;
}

.footer {
  background-color: black;
  bottom: 10px;
  height: 60px;
  text-align: center;
  left: 0;
  right: 0;
  p{
    color: white;
  }
}

.form {
  background: url(https://dl.dropboxusercontent.com/u/5840617/DeathtoStock_Wired3.jpg);
  background-size: cover;
}
// .content_post{
//   height:400px;
//   width:600px;
//   display: block;
//   margin:0 auto;
//   background-size: cover;
//   position: relative;
//   margin-bottom: 30px;
//   h2 {
//     font-weight: normal;
//     strong {
//       font-weight: bold;
//       padding-right: 5px;
//       font-size: 1.2em;
//     }
//   }
  // .new_user{
  // font-family: "游ゴシック", "YuGothic";
  // }
  // &__post {
  //   position: relative;
  //   height: 400px;
  //   color: #fff;
  //   margin-left: 10%;
  //   margin-right: 10%;
  //   background-position: center center;
  //   border-radius: 3px;
  //   box-shadow: 0 0 10px rgba(black,0.2);
  //   &:after {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //     z-index: 1;
  //     border-radius: 3px;
  //   }
      
      
    // p {
    //   position: absolute;
    //   left: 30px;
    //   right: 100px;
    //   bottom: 30px;
    //   margin: 0;
    //   font-size: 20px;
    //   z-index: 2;
    //   font-weight: bold;
    //   text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
    // }
   .username{
      float:right;
      z-index: 2;
      font-size: 13px;
    
      a {
        display: block;
        color: #aaa;
        &:hover {
          text-decoration: underline;
          color: #aaa;
        }
      }
      span {
        font-size: 9px;
        display: block;
      }
    }
  

  // create.html.haml対応
  .success {
    box-shadow: 0 0 10px rgba(black,0.2);
    background-color: white;
    box-sizing: border-box;
    text-align: center;
    h3 {
      color: darkblue;
    }
  }

// new.html.haml対応
form {
  h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: dark;
    font-family: "游ゴシック", "YuGothic";
  }
  input,textarea {
    width: 100%;
    border: 1px solid gray;
    border-radius: 15px;
    font-family: "游ゴシック", "YuGothic";
    border: double;
  }
  input[type="submit"] {
    background-color: accent;
    border-radius: 15px;
    color: black;
    border: 0;
    font-size: 18px;
    border: double;
    font-family: "游ゴシック", "YuGothic";
    &:hover {
      background-color: lawngreen;
    }
  }
}
.edit{
  height: 100vh;
  background-image: url(ET1UTxGUEAEpQus.jpeg);
  .container {
    box-shadow: 0 0 10px rgba(black,0.2);
    box-sizing: border-box;
    margin: auto;
    width: 800px;
    background-color: black;
    border-radius: 10px;
  }
}


// コメント機能ページ
.comments {
  padding: 5px;
  margin-top: 15px;
  a {
    color: accent;
    &:hover {
      text-decoration: underline;
    }
  }
}

.search-form {
  text-align: center;
  padding-top: 32px;
  background-color: black;
  .search-input {
    width: 30%;
    margin-right: 10px;
    border: double;
  }

  .search-btn {
    width: 10%;
  }
}


