*{
  margin:0;
  padding:0;
}

// index.html.haml対応
.header {
  border-bottom: 1px solid gray;
  background-color:black;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
  .header__bar.row {
    position: relative;
    h1.grid-6 {
      font-size: 20px;
      line-height: 41px;
      float: left;
      a {
        display: block;
        text-decoration: none;
        font-family: 'Fredoka One', cursive;
        font-size: 30px;
        margin: 10px 20px;
      }
    }
    div.grid-6 {
      float: right;
      text-align: right;
      margin-right: 20px;
      margin-top: 15px;
      a.post {
        width: 120px;
        display: inline-left;
        margin-left: 10px;
        text-decoration: none;
        border-radius: 1px;
      }
    }
  }
}

.user_nav {
  position: relative;
  height: 50px;
  right: 0;
  span {
    top: 5px;
    display: block;
    float: left;
    // margin: 13px 20px;
    width: 150px;
    height: 50px;
    font-size: 1em;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
    position: relative;
    &:after {
      content: '▼';
      font-size: .7em;
      margin-left: -4px;
      }
      &:hover ul {
        color: blue;
        display: block;
      }
    }
    ul {
      display: none;
      position: absolute;
      top: 46px;
      right: 0;
      border-left: 1px solid #d8d8d8;
      border-right: 1px solid #d8d8d8;
      box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
      li {
        background-color: #f0f0f0;
        a {
          display: block;
          padding: 10px 20px;
          text-align: left;
          border-bottom: 1px solid #d8d8d8;
          text-decoration: none;
        }
      }
     }
}

.contents {
  background-color:cornsilk;
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.content_post{
  height:400px;
  width:600px;
  display: block;
  margin:0 auto;
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
  font-family: 'Fredoka One', cursive;
}
.container{
  color: green;
}
.on{
  text-decoration: none;
  background-color: aquamarine;
  font-family: 'Fredoka One', cursive;
  a{
    text-decoration: none;
  }
}
.contents.row.fix{
  // height:calc(100vh - 60px );
}

.contents2 {
  overflow: hidden;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  opacity: 0.9;
}
.nav {
  width: 150px;
  margin: 0;
  padding: 0;
}
.nav li {
  position: relative;
  width: 150px;
  height: 40px;
}
.nav > li {
  border-bottom: none;
}
.nav li:last-child {
  border-bottom: none;
}
.nav li:hover > ul > li {
  border-bottom: none;
}
.nav li > ul > li:last-child {
  border-bottom: none;
}
.nav li a {
  display: block;
  width: 150px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  line-height: 2.8;
  padding: 0 5px;
  background: #9fb7d4;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Fredoka One', cursive;
}
.nav > li:hover > a {/*layer-1*/
  color: orange;
  background: #afc6e2;
}
.nav > li li:hover > a {/*layer-2*/
  color: olive;
  background: #afc6e2;
}
.nav li:hover > ul > li {
  overflow: visible;
  top: -40px;
  left: 110px;
  height: 40px;
}
.nav li ul li {
  overflow: hidden;
  height: 0;
  left: 110px;
  list-style: none;
}
.nav li ul li a {
  background: #9fb7d4;
}
.nav li ul:before {
  position: absolute;
  content: "";
  top: 14px;
  left: 140px;
  border: 5px solid transparent;
  border-left: 5px solid #fff;
}
.nav li:hover ul li ul li:hover > a {/*layer-3*/
  color: pink;
  background: #afc6e2;
}

.info{
  color: blue;
  text-align: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.name a{
    color: black;
    font-size: 15px;
    font-family: "Nico Moji"; 
    text-decoration: none;
    padding-right: 5px;
  }
.info p{
  color: black;
  padding-left: 10px;
  padding-top: 5px;
}

.footer {
  background-color: black;
  bottom: 10px;
  height: 64px;
  text-align: center;
  left: 0;
  right: 0;
  line-height: 4;
  p{
    color: white;
    font-family: 'Fredoka One', cursive;
  }
}

.form {
  background: url(https://dl.dropboxusercontent.com/u/5840617/DeathtoStock_Wired3.jpg);
  background-size: cover;
}
.on{
  text-align: center;
}
.username{
  float:right;
  z-index: 2;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
    
  a {
    display: block;
    color: #aaa;
    font-family: 'Fredoka One', cursive;
    &:hover {
      text-decoration: underline;
      color: #aaa;
      }
    }
    span {
      font-size: 9px;
      display: block;
    }
  }
  

  // create.html.haml対応
  .success {
    box-shadow: 0 0 10px rgba(black,0.2);
    background-color:rgb(0, 217, 255);
    box-sizing: border-box;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    h3 {
      color: darkblue;
    }
  }

// new.html.haml対応
form {
  h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    font-family: "游ゴシック", "YuGothic";
  }
  .field{
    text-align: center;
  }
  input,textarea {
    width: 500px;
    border: 1px solid gray;
    border-radius: 15px;
    font-family: "游ゴシック", "YuGothic";
    border: double;
    text-align: center;
  }
  input[type="submit"] {
    background-color: black;
    border-radius: 15px;
    color: blanchedalmond;
    border: 0;
    font-size: 18px;
    border: double;
    font-family: "游ゴシック", "YuGothic";
    width: 300px;
    &:hover {
      background-color: lawngreen;
    }
  }
}
.edit{
  height: 100vh;
  background-image: url(ET1UTxGUEAEpQus.jpeg);
  .container {
    box-shadow: 0 0 10px rgba(black,0.2);
    box-sizing: border-box;
    margin: auto;
    width: 800px;
    border-radius: 10px;
  }
}
.contents.row {
  background-color:cornsilk;
  width: 100%;
  margin: auto;
  // height: 100vh;
}

.new{
  height: 100vh;
  text-align: center;
}


.destroy{
  height: 100vh;
}

.update{
  height: 100vh;
}

.create{
  height: 100vh;
}

// コメント機能ページ
.comments {
  padding: 5px;
  margin-top: 15px;
  font-family: 'Concert One', cursive;
  a {
    color: accent;
    font-family: 'Concert One', cursive;
    &:hover {
      text-decoration: underline;
    }
  }
}

.search-form {
  text-align: center;
  padding-top: 32px;
  background-color: cornsilk;
  font-family: 'Fredoka One', cursive;
  .search-input {
    width: 30%;
    margin-right: 10px;
    border: double;
    text-align: center;
  }

  .search-btn {
    width: 10%;
    font-family: 'Fredoka One', cursive;
  }
}

.pagination{
font-weight: 800;
color: cadetblue;
background-color: cornsilk;
}
.pegination a{
  text-decoration: none;
  color:inherit;
}

.page a{
  text-decoration: none;
  color:inherit;
}

.next a{
  text-decoration: none;
  color:inherit;
}

.last a{
  text-decoration: none;
  color:inherit;
}

.info{
  background-color:#9fb7d4;
  opacity: 0.7;
}

.touroku{
  height: 100vh;
}

.login{
  height: 100vh;
}
.mojiinfo{
  text-align: center;
  margin-left: 520px;
  .moji{
    font-size: 100%;
    font-weight: normal;
    text-align: center;
    border: solid crimson;
    background-color: black;
    width: 400px;
  }
}

.rink{
  text-align: center;
  border: solid crimson;
  margin: 20px 400px;
  background-color: black;
  a{
    text-decoration: none;
    color: blanchedalmond;
  }
}

.actions{
  text-align: center;
  margin-top: 20px;
}

.toukouwaku{
  margin-left: 520px;
  margin-bottom: 10px;
  .toukou{
    color: blanchedalmond;
    font-size: 100%;
    font-weight: normal;
    border: solid crimson;
    background-color: black;
    width: 400px;
  }
}

.comment1{
  text-align: center;
}
.comment2{
  text-align: center;
}

.waku{
  text-align: center;
  .toukouwaku1{
    margin-bottom: 10px;
    margin-left: 210px;
    .toukou1{
      color: blanchedalmond;
      font-size: 100%;
      font-weight: normal;
      border: solid crimson;
      background-color: black;
      width: 400px;
    }
  }
}
